updated nodered webside
[
    {
        "id": "16c1160cb7ba12ea",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d32022b30f5e0542",
        "type": "mqtt out",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "topic": "s245033@dtu.dk/PillPall",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "520f7622581ff376",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "9133276b572f4899",
        "type": "ui_button",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "group": "7fcf760accdaa9c2",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "100 ml",
        "tooltip": "",
        "color": "",
        "bgcolor": "teal",
        "className": "",
        "icon": "fa-tint",
        "payload": "A",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "d32022b30f5e0542"
            ]
        ]
    },
    {
        "id": "9aa3595124e60fd6",
        "type": "ui_button",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "group": "7fcf760accdaa9c2",
        "order": 7,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "150 ml",
        "tooltip": "",
        "color": "",
        "bgcolor": "teal",
        "className": "",
        "icon": "fa-shower",
        "payload": "B",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "d32022b30f5e0542"
            ]
        ]
    },
    {
        "id": "1a19fc077dc67495",
        "type": "ui_button",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "group": "7fcf760accdaa9c2",
        "order": 12,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "200 ml",
        "tooltip": "",
        "color": "",
        "bgcolor": "teal",
        "className": "",
        "icon": "fa-umbrella",
        "payload": "C",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "d32022b30f5e0542"
            ]
        ]
    },
    {
        "id": "2ef229be3e860877",
        "type": "ui_button",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "group": "64ec272c1b92e46b",
        "order": 3,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Start IV-drop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-eyedropper",
        "payload": "D",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "d32022b30f5e0542",
                "040f1c335876bf31",
                "350a737d0e32dc9a"
            ]
        ]
    },
    {
        "id": "b3fefe894c9b161a",
        "type": "ui_button",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "group": "64ec272c1b92e46b",
        "order": 11,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Stop IV-drop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-ban",
        "payload": "E",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "d32022b30f5e0542",
                "040f1c335876bf31",
                "350a737d0e32dc9a"
            ]
        ]
    },
    {
        "id": "d4d5c354e4f91373",
        "type": "mqtt in",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "topic": "s245033@dtu.dk/PillPall",
        "qos": "2",
        "datatype": "utf8",
        "broker": "520f7622581ff376",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "231a0088e956d2c6"
            ]
        ]
    },
    {
        "id": "231a0088e956d2c6",
        "type": "function",
        "z": "16c1160cb7ba12ea",
        "name": "function 1",
        "func": "let value = parseFloat(msg.payload);\n\nif (!isNaN(value)) {\n    msg.payload = value;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "9432d1b103b5b234",
                "5a864fd2028d6e8a",
                "761ee49a575bd3b7"
            ]
        ]
    },
    {
        "id": "9432d1b103b5b234",
        "type": "ui_template",
        "z": "16c1160cb7ba12ea",
        "group": "482cdbdd8c35b78d",
        "name": "Volume status",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 20px; display: flex; align-items: center;\">\n    <i class=\"material-icons\" style=\"color: teal;\">water_drop</i>\n    <span style=\"margin-left: 10px;\">Current volume: {{msg.payload}} mL</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5a864fd2028d6e8a",
        "type": "ui_chart",
        "z": "16c1160cb7ba12ea",
        "name": "",
        "group": "482cdbdd8c35b78d",
        "order": 2,
        "width": 9,
        "height": 5,
        "label": "IV-bag volume (Last hour)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#53d053",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "761ee49a575bd3b7",
        "type": "function",
        "z": "16c1160cb7ba12ea",
        "name": "Sensor Timestamp",
        "func": "let nowvol = new Date();\nmsg.nowvol = nowvol.toLocaleString();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "44d197acd8a633fd"
            ]
        ]
    },
    {
        "id": "44d197acd8a633fd",
        "type": "ui_template",
        "z": "16c1160cb7ba12ea",
        "group": "482cdbdd8c35b78d",
        "name": "Last recieved",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 20px; display: flex; align-items: center;\">\n    <i class=\"material-icons\" style=\"color: yellow;\">access_time</i>\n    <span style=\"margin-left: 10px;\">IV-bag volume last received: {{msg.nowvol}}</span>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "350a737d0e32dc9a",
        "type": "function",
        "z": "16c1160cb7ba12ea",
        "name": "IV Timestamp",
        "func": "let now = new Date().toLocaleString();\n\nif (msg.payload === \"D\") {\n    msg.starttime = now;\n    return [msg, null];\n}\n\nif (msg.payload === \"E\") {\n    msg.stoptime = now;\n    return [null, msg];\n}\n\nreturn [null, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "670bfb747f7c9ecd",
                "2b35f7918e4779b1"
            ],
            [
                "f1f2a7dc7bbba6e1"
            ]
        ]
    },
    {
        "id": "ad3ef8cb4d655dd2",
        "type": "ui_template",
        "z": "16c1160cb7ba12ea",
        "group": "64ec272c1b92e46b",
        "name": "Drop status",
        "order": 18,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 20px; display: flex; align-items: center;\">\n    <i class=\"material-icons\" style=\"color: {{msg.color}};\">{{msg.icon}}</i>\n    <span style=\"margin-left: 10px;\">{{msg.text}}</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "040f1c335876bf31",
        "type": "function",
        "z": "16c1160cb7ba12ea",
        "name": "Status Message",
        "func": "\nif (msg.payload == 'D') {\n    msg.icon = \"\\u2705\";\n    msg.color = \"green\";\n    msg.text = \"IV-drop status: Open\";\n}\nelse {\n    msg.icon = \"\\u274C\";\n    msg.color = \"red\";\n    msg.text = \"IV-drop status: Closed\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "ad3ef8cb4d655dd2"
            ]
        ]
    },
    {
        "id": "670bfb747f7c9ecd",
        "type": "ui_template",
        "z": "16c1160cb7ba12ea",
        "group": "64ec272c1b92e46b",
        "name": "Button pressed",
        "order": 19,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 20px; display: flex; align-items: center;\">\n    <i class=\"material-icons\" style=\"color: yellow;\">access_time</i>\n    <span style=\"margin-left: 10px;\">Button pressed at: {{msg.nowstatus}} </span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2b35f7918e4779b1",
        "type": "ui_template",
        "z": "16c1160cb7ba12ea",
        "group": "64ec272c1b92e46b",
        "name": "start time",
        "order": 19,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 18px; display: flex; align-items: center;\">\n  <i class=\"material-icons\" style=\"color: green;\">play_arrow</i>\n  <span style=\"margin-left: 10px;\">IV-drop last startet at: {{msg.starttime}}</span>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f1f2a7dc7bbba6e1",
        "type": "ui_template",
        "z": "16c1160cb7ba12ea",
        "group": "64ec272c1b92e46b",
        "name": "stop time",
        "order": 20,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 18px; display: flex; align-items: center;\">\n  <i class=\"material-icons\" style=\"color: green;\">play_arrow</i>\n  <span style=\"margin-left: 10px;\">IV-drop last stopped at: {{msg.stoptime}}</span>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6d41379e4cf5f36a",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "1bacfbbf131e4528",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e474d4d5a7ffa22",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "3cb341637287e98f",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4cd9392ba37ea6e",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "cfc83dc4598c0a11",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "82c08d3780f246c9",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "519b1c2ba2758189",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "8ca275046ab366b8",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ce309cce2541c866",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "7eacf3419f15688a",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "24704d8a64e54d10",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddbfec1e1b86aaeb",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4882634b02a9a5e",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "7845c54a06077905",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "64ec272c1b92e46b",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "f3e16ee3a85ab340",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "384c3c58a1dd2c35",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9dc8355aff8fa03",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b341dba7c9e321c2",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "57d3c39f3abf16d4",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e10531aa8fc6ddbf",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "81ad58f1bca7ef21",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e368a12ec2efc340",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "efa1cc7a1edfab07",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "1dab81294a8f273d",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "06f020477da0eaaa",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "f13a616e2f2dc2b2",
        "type": "ui_spacer",
        "z": "16c1160cb7ba12ea",
        "name": "spacer",
        "group": "7fcf760accdaa9c2",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "520f7622581ff376",
        "type": "mqtt-broker",
        "name": "Maqiatto",
        "broker": "maqiatto.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7fcf760accdaa9c2",
        "type": "ui_group",
        "name": "Control",
        "tab": "b25157bd1777aeab",
        "order": 3,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64ec272c1b92e46b",
        "type": "ui_group",
        "name": "Dispense",
        "tab": "b25157bd1777aeab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "482cdbdd8c35b78d",
        "type": "ui_group",
        "name": "IV-bag volume status",
        "tab": "b25157bd1777aeab",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b25157bd1777aeab",
        "type": "ui_tab",
        "name": "Infusionpump",
        "icon": "healing",
        "disabled": false,
        "hidden": false
    }
]
